<!-- <h1>Hello SAE8</h1>
<div>
    interpolation: Bonjour {{VAR1}}
</div>

<div >
    Property / event binding: <img [src]="VAR2" (click)="myFirstFunction()">
</div>

<div *ngIf="VAR1 else alt">
    Two-way binding: <input type="text" [(ngModel)]="VAR1">
</div>

<ng-template #alt> 
    #alt est du html reference 
    <div> var1 est evalué à false </div>
</ng-template> 

<ul *ngFor="let item of myList, let i=index" type="none">
    <li>{{i}}- {{item}}</li>
</ul> -->

<!-- <app-residences></app-residences> -->

<section class="hero">
    <div class="container text-center">
      <h1>Bienvenue chez Immobilier "Your Home"</h1>
      <p><b style="color: rgb(19, 18, 19);">Trouvez la maison de vos rêves en toute confiance.</b></p>
      <button class="btn btn-primary mt-3" routerLink="/residences">Explorez nos propriétés</button>
    </div>
  </section>
  